@font-face{font-family: ibm-plex-mono; src:url("font/IBM Plex Mono Nerd Font Complete Mono.ttf"); }
:root{
  --bg:rgb(34,34,34);
  --fg:rgb(255,255,255);
  --a:rgb(220,100,100);
  --a-hover:rgb(255,22,22);
  --prompt:rgb(187,187,187);
}
html,body{
  height:100%;
  font-size: 1rem;
  font-weight:600;
}
body{
  background-color:var(--bg);
  color:var(--fg);
  font-family:ibm-plex-mono;
}
main{
  margin:auto;
  padding:5%;
}
.vertical-center{
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  height:100%;
}
.cursor:after{
  content:"_";
  animation:blink 1s step-end infinite;
}
@keyframes blink{
  from, to { color:transparent}
  50%{color:white;}
}
a, a:visited{
  color:var(--a);
}
a:hover{
  color:var(--a-hover);
  text-decoration: None;
}

img{
  border-style:solid;
  border-width:7px;
  border-color:rgb(fff,fff,fff);
  max-width:100%;
  margin:10px;
}
.ts{
  width:100%;
  border-style:solid;
  border-width:70px;
  border-color:#ffffff;
  margin:40px 0;
}
section{
  border-bottom-style:solid;
  margin:20px 10px;
}
.dimmed{
  position:absolute;
  overflow:hidden;
  width:inherit;
}
.dimmed a{
  color:rgba(255,255,255,1);
}
.dimmed{
  color:rgba(200,200,200,1);
}
.dimmed h2{
  border-bottom-style:solid;
  padding-bottom:3px;
}
.dimmed a:hover{
  color:rgba(130,255,251,1);
}
.glif{
  font-size:2.5rem;
  font-weight:500;
  position:relative;
  top:10px;
  left:-5px;
}
.content{
  width:1000px;
}
#profile_img{
  float:left;
  margin-right:10px;
}
#out{
  opacity:0;
}
.ps1{
  color:var(--prompt);
}
a{
  text-decoration:none;
}
.test{
  float:right;
}
.sec_img_left{
  float:left;
}
.sec_img_right{
  float:right;
}
